{% extends "auctions/layout.html" %}


{% block body %}
    <h1>Listing for {{listings.title}}</h1>
    <div style="padding:20px">

    <b>Category: </b>{{ listings.category }}
    <br>

    <b>Time: </b>{{ listings.time }}
    <br>

    <b>Starting Price:</b> ${{ listings.starting_bid }}
    <br>

    <b>Current bid: </b> ${{ listings.offer }}
    <br>

    <b>Product Description:</b><br>{{ listings.description }}<br>

    {% if listings.image %}
    <img src="{{ listings.image.url }}">
    <br>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
    
        <b>{{bid_form}}</b>
    
        <input type="submit" value="Bid" >
    </form>

    <form method="POST">
        {% csrf_token %}
    
        <b>{{comment_form}}</b>
    
        <input type="submit" value="Comment" >
    </form>

    <br>
    <b>Comment History:</b>
    <ul>
    {% for x in Comments %}
        <br>
        <b>{{x.commenter}} </b> {{x.time}}
        <br>
            {{ x.comments }}
        
    {% endfor %}
    <br>
    </ul>

    

    {% if listing.owner == comments.commenter %}
        <a href="{% url 'final' listings.listing_id %}"> Close Bid</a>
    {% endif %}
    <br>
    {% if listings.watched %}
    <a href="{% url 'watchlist' listings.listing_id %}"> Remove from watchlist</a>
    {% else %}
    <a href="{% url 'watchlist' listings.listing_id %}"> Add to watchlist</a>
    {% endif %}
    </div>

{% endblock %}